---
title: About scioer
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About scioer" image_anchor="bottom" height="min" >}}

<p class="lead mt-5">An open source, free to use, self-contained open educational resource
</p>

{{< /blocks/cover >}}

{{% blocks/section %}}

SCIOER was designed to as a tool to help instructors format, package, and distribute teaching resources.
High quality educational resources are often expensive, challenging to find, and not holistic products that can be adopted.
Instructors will typically need to select a handful of different tools for different portions of the course material.
The SCIOER project was developed to help with that by creating a singular customizable resource that can be used for several purposes.

{{% /blocks/section %}}

{{% blocks/section %}}

Interactive tools have been shown to provide great benefits to students when learning.
It allows them to work through sample problems at their own pace while getting immediate feed back about what does and does not work.
Providing this was one of the key components of the resource, providing the students with a tool that has everything
they need to succeed and learn the material at their own pace.

As an open resource, access to the SCIOOER course resources will never expire.
No internet access is needed once it has been downloaded.
The resource is designed solely to benefit the students for them to use in whatever way is most effective for their learning style.

{{% /blocks/section %}}
